body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: "OCR A Std", monospace;
  font-size: 1.2rem;
  color: #00ff00;
  padding: 1rem;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00ff00;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

button {
  background-color: #d90000;
  border: none;
  color: #fff;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  &:hover {
    background-color: #ff4040;
  }
}

.alert {
  color: #fff;
  border: none;
}

.alert-success {
  background-color: #00ff00;
  color: #000000;
  border: none;
}

.alert-danger {
  background-color: #ff4040;
  color: #fff;
  border: none;
}

.action-btn {
  display: none;
}

.astronaut-item:hover .action-btn {
  display: inline-block;
}

.astronaut-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: black;
  border: none;
}

.list-group-item:hover {
  border: 2px dashed #00ff00;
  background-color: #25252546;
}

.action-buttons {
  display: none;
  position: absolute;
  right: 10px;

}

.space-button {
  background-color: #000;
  color: #00ff00;
  border: 2px dashed #00ff00;
}

.space-button:hover {
  color: #000;
  background-color: #00ff00;
  border: 2px dashed #000;
}

.modal-content {
  background-color: black;
  color: #00ff00;
}

.list-group .astronaut-item {
  color: #00ff00;
}

.pseudo-space-nav {
  border-bottom: 2px dashed #00ff00;
  padding-bottom: 20px;
}

input.form-control {
  color: #00ff00; // Bright green text color
  background-color: #000; // Black background
  border: 2px dashed#00ff00; // Green border
  border-radius: 4px; // Rounded corners
  padding: 0.5rem; // Add padding for spacing
  outline: none; // Remove default focus outline

  &:focus {
    border-color: #00ff00; // Darker green on focus
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.7); // Add a subtle glow
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    background-color: #000;
  }

  &::placeholder {
    color: #00ff00; // Placeholder color
    opacity: 0.7; // Slight transparency
    font-style: italic; // Optional: italicize placeholder text
  }

  &:hover {
    border: 1px dashed #000; // Lighter green border on hover
    background-color: #00ff00; // Slightly lighter background
  }

  &:hover::placeholder {
    color: #000;
    background-color: #00ff00;
  }
}