body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  font-family: "OCR A Std", monospace;
  font-size: 1.2rem;
  color: #00ff00;
  padding: 1rem;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #00ff00;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.alert {
  color: #fff;
  border: none;
}

.alert-success {
  background-color: #00ff00;
  color: #000000;
  border: none;
}

.alert-danger {
  background-color: #00ff00;
  color: #000;
  border: none;
  font-size: 1em;
}

.action-btn {
  display: none;
}

.astronaut-item:hover .action-btn {
  display: inline-block;
}

.astronaut-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  background-color: #00000000;
  border: none;
}

.list-group-item:hover {
  border: 2px dashed #00ff00;
  background-color: #25252546;
}

.action-buttons {
  display: none;
  position: absolute;
  right: 10px;
}

.space-button {
  background-color: #000;
  color: #00ff00;
  border: 2px dashed #00ff00;

  &:hover,
  &:active {
    color: #000;
    background-color: #00ff00;
    border: 2px dashed #000;
    box-shadow: none;
  }

  &:focus,
  &:focus-visible {
    color: #00ff00;
    background-color: #000;
    border: 2px dashed #00ff00;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
  }
}

.me-2:active {
  border: none
}

.modal-content {
  background-color: black;
  color: #00ff00;
}

.list-group .astronaut-item {
  color: #00ff00;
}

.pseudo-space-nav {
  border-bottom: 2px dashed #00ff00;
  padding-bottom: 20px;
}

input.form-control {
  color: #00ff00;
  background-color: #000;
  border: 2px dashed#00ff00;
  border-radius: 4px;
  padding: 0.5rem;
  outline: none;

  &:focus {
    border-color: #00ff00;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.7);
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
    background-color: #000;
    color: #00ff00;
  }

  &::placeholder {
    color: #00ff00;
    opacity: 0.7;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
  }

  &:hover {
    border: 1px dashed #000;
    background-color: #00ff00;
    color: #000;
  }

  &:hover::placeholder {
    color: #000;
    background-color: #00ff00;
  }
}

.modal-header {
  border: none;
}